<html lang="en">
<!--/*@thymesVar id="label" type="java.lang.String"*/-->
<!--/*@thymesVar id="name" type="java.lang.String"*/-->
<!--/*@thymesVar id="valid" type="java.lang.Boolean"*/-->

<th:block th:fragment="params(label, name, items)"
          th:with="valid=${!#fields.hasErrors(name)}">
    <label th:for="${name}" class="form-label" th:text="${label}"></label>
    <select th:field="*{__${name}__}" class="form-select">
        <option th:each="item : ${items}" th:value="${item.id}"
                th:text="${item.name}">option</option>
    </select>
    <div class="invalid-feedback" th:if="${!valid}" th:errors="*{__${name}__}"></div>
</th:block>

</html>
