<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>[[${formTitle}]]</title>
</head>
<body>
    <div layout:fragment="page-content">
        <div th:replace="~{common/fragments/header :: form-caption(title=${formTitle})}">
        </div>
        <form class="row g-3"
              th:object="${itemForm}" th:method="post">

            <input type="hidden" name="id" th:value="*{id}" />
            <div class="col-6 mt-2 mb-2">
                <input th:replace="~{common/fragments/input-field ::
                    params ('text', 'Name', 'name')}" />
            </div>

            <div class="col-12">
                <button class="btn btn-primary" type="submit">Save</button>
                <a role="button" class="btn" th:text="Cancel" th:href="@{/items}">Cancel</a>
            </div>
        </form>
    </div>
</body>
</html>
